<link rel="stylesheet" href="/public/css/login.css">

<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-choice">
                <i class="fab fa-google"></i>
                <a href="/login<%= url('login.choice.google') %>">
                    se connecter avec google
                </a>
            </div>
            <div class="card-choice">
                <i class="fa fa-user"></i>
                <a href="">
                    entrez vos identifiants
                </a>
            </div>
        </div>
        
    </div>
</div>